---
import { getCollection } from "astro:content";
import Layout from "../layouts/Layout.astro";

export async function getStaticPaths() {
  const tattoos = await getCollection("tattoos");

  return tattoos.map((tattoo) => ({
    params: { id: tattoo.slug },
    props: { tattoo },
  }));
}

const { tattoo } = Astro.props;
const { slug, data } = tattoo;
const { img } = data;
---

<Layout title={`${slug}`}>
  <div class="flex justify-center items-center pb-2 pt-16 h-215">
    <img class="rounded" src={`${img}`} alt="" />
  </div>
</Layout>
