---
import Layout from "../layouts/Layout.astro";
import Hero from "../sections/Hero.astro";
import About_me from "../components/About_me.astro";
import Contact_me from "../sections/Contact_me.astro";
import Carrusel from "../components/Carrusel.astro";
---

<Layout title="Nagare Tattoo">
  <Hero />
  <Carrusel />
  <main class="mx-auto bg-gradient-to-b from-black">
    <div class="max-w-6xl mx-auto">
      <About_me />
      <Contact_me />
    </div>
  </main>
</Layout>
