---
import Layout from "../layouts/Layout.astro";
import Hero from "../sections/Hero.astro";
import About_me from "../components/About_me.astro";
import Contact_me from "../sections/Contact_me.astro";
import Carrusel from "../components/Carrusel.astro";
---

<Layout title="Nagare Tattoo">
  <div class="bg-gradient-to-b to-gray-200">
    <Hero />
    <Carrusel />
  </div>
  <div class="bg-gradient-to-b from-gray-200 to-gray-400">
    <main class="max-w-6xl mx-auto">
      <About_me />
      <Contact_me />
    </main>
  </div>
</Layout>
