<section class="pt-20 pb-10">
  <h1 class="uppercase font-extrabold text-4xl pb-2">Sobre mi</h1>
  <div class="grid grid-cols-2">
    <img src="sobre_me.jpg" alt="" class="rounded" />
    <p class="font-extrabold text-2xl">
      Lorem ipsum dolor, sit amet consectetur adipisicing elit. Tempore
      asperiores ad officia culpa at, nihil nostrum ipsam eaque repudiandae
      itaque doloremque recusandae sapiente. Maiores officia quibusdam nesciunt
      minima, accusamus ea.
    </p>
  </div>
</section>
