<section class="pt-10 md:pt-20 md:pb-10">
  <h1
    class="uppercase font-extrabold text-2xl text-center md:text-start md:text-4xl pb-2"
  >
    Sobre mi
  </h1>
  <div class="grid md:grid-cols-2">
    <img src="sobre_me.jpg" alt="" class="rounded-2xl pb-2 px-3 md:px-0" />
    <p class="font-bold text-xl md:text-2xl px-3 md:px-0 text-pretty">
      Mi nombre es <strong>Mayel Anzardo Guzmán</strong> desde niño, siempre sentí
      una conexión profunda con el arte. A los 21 años, combino mi pasión por el
      dibujo en cada trazo. El <strong>tatuaje</strong> es mi forma de expresión,
      y en cada diseño busco contar una historia. Bienvenidos a mi estudio, donde
      el arte cobra vida.
    </p>
  </div>
</section>
