---
const socialMedia = [
  {
    name: "Twitter",
    url: "https://twitter.com",
    icon: '<img src="/x.svg" class="size-10" alt="X">',
  },
  {
    name: "Facebook",
    url: "https://facebook.com",
    icon: '<img src="/facebook.svg" class="size-10" alt="Facebook">',
  },
  {
    name: "Instagram",
    url: "https://www.instagram.com/nagare_tattoo/",
    icon: '<img src="/instagram.svg" class="size-10" alt="Instagram">',
  },
];
---

<div>
  <h3 class="font-extrabold mb-4 text-center">Sígueme</h3>
  <div class="flex flex-wrap gap-4">
    {
      socialMedia.map((platform) => (
        <a
          href={platform.url}
          target="_blank"
          rel="noopener noreferrer"
          class="flex items-center gap-2 px-2 py-2 rounded-lg hover:-translate-y-1 hover:text-red-900 transition-transform text-xl md:text-4xl"
          set:html={platform.icon}
        >
        </a>
      ))
    }
  </div>
</div>
