<footer
  class="w-full border-white border-t-2 flex flex-col md:flex-row justify-center items-center md:justify-between pt-5 pb-5"
>
  <span>
    2025 Nagare Tattoo <span aria-hidden class="hidden md:inline">|</span><br
      aria-hidden
      class="block md:hidden"
    /> Todos los derechos reservados.
  </span>

  <ul class="flex gap-x-3 px-2">
    <li>
      <a href="https://www.instagram.com/nagare_tattoo/">
        <img
          src="instagram.svg"
          alt="Logo de instagram"
          class="w-10 h-10 hover:scale-125 hover:opacity-70"
        />
      </a>
    </li>
    <li>
      <a href="#"
        ><img
          src="facebook.svg"
          alt="Logo de instagram"
          class="w-10 h-10 hover:scale-110 hover:opacity-70"
        /></a
      >
    </li>
  </ul>
</footer>
