<nav class="md:fixed w-full border-white border-b-2 font-extrabold">
  <ul class="flex flex-row justify-between items-center">
    <li>
      <a href="/" class="flex">
        <img class="h-15" src="nagare tatto.svg" alt="Logo de Nagare tattoo" />
        <span class="hover:opacity-70 flex items-center"
          >Nagare <strong>Tattoo</strong></span
        >
      </a>
    </li>
    <li>
      <a href="https://www.instagram.com/nagare_tattoo/"
        ><img
          src="instagram.svg"
          alt="Logo de instagram"
          class="w-10 h-10 hover:scale-125 hover:opacity-70"
        /></a
      >
    </li>
    <li>
      <a href="#"
        ><img
          src="facebook.svg"
          alt="Logo de instagram"
          class="w-10 h-10 hover:scale-110 hover:opacity-70"
        /></a
      >
    </li>
  </ul>
</nav>
