---
import Map from "../components/Map.astro";
---

<section class="pt-20 pb-10">
  <h1 class="uppercase font-extrabold text-4xl">Contáctame</h1>
  <div class="grid grid-cols-2">
    <p>Numero de telefono</p>
    <p>Correo</p>
    <p>Instagram</p>
    <p>Facebook</p>
    <Map />
  </div>
</section>
