---
import Follow_me from "../components/Follow_me.astro";
---

<section
  class="flex flex-col justify-center items-center h-150 bg-gradient-to-t from-gray-900 to-black px-5"
>
  <div>
    <img class="w-30 m-auto" src="/logo.webp" alt="">
    <h1
      class="uppercase font-bold text-4xl px-2 pb-2 mb-9 text-red-900 text-center"
    >
      Nagare Tattoo
    </h1>
    <h3
      class="uppercase font-extrabold text-2xl md:text-4xl py-1 mb-20 md:mt-20 max-w-3xl text-center"
    >
      Cada línea, una intención. Cada sombra, una emoción.
    </h3>
  </div>
  <div class="uppercase font-extrabold text-2xl md:text-4xl mb-10">
    <Follow_me />
  </div>
</section>
