---
import { Image } from 'astro:assets';
import { getCollection } from "astro:content";
const tattoos = await getCollection("tattoos");
import Carrusel from '../components/Carrusel.astro';
---

<section aria-label="Trabajos que e echo" class="pt-10 pb-5 bg-gradient-to-t from-black to-gray-900">
  <div class="px-4 mx-auto max-w-screen-xl">
    <h1 class="uppercase text-2xl text-center md:text-start md:text-4xl font-extrabold mb-3">Mis trabajos</h1>
    <div class="grid md:grid-cols-3 gap-5 md:border-2 py-2 px-2 rounded">
      {
        tattoos.map((tattoo) => {
          const { slug, data } = tattoo;
          const { img } = data;
          return (
            <article class="flex flex-col justify-center items-center py-5 border-2 rounded-2xl">
              <a
                href={`/${slug}`}
                class="transition hover:scale-110"
              >
                <img
                  class="w-48 h-60 rounded"
                  src={`/${img}`}
                  alt={`${slug}`}
                />
              </a>
            </article>
          );
        })
      }
    </div>
  </div>
</section>
